[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=false
Exec=/home/deck/Ason/Ason.sh
Name=Ason
Comment=Amazon on SteamOS Over Nile
Terminal=true
Path=/home/deck/Ason
